<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Title>Welcome to Richmond | RUTC</Title>
    <link rel="icon" type"image/x-icon" href="../images/logo.png">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <h1>Explore Our Colleges Courses</h1>
        <nav>
            <ul>
                <li><a href="/aboutus.html">About Us</a></li>
                <li><a href="/contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <h2>Upgrade Your Future with Our Courses</h2>
        <h3><i>Find the right course for you</i></h3>
        <button class="button" align="center">
            <a href="apply.html"><strong>Apply</strong></a>
        </button>
    </section>
    
    <section class="courses">
        <div class="course-card"><a href="psych.html">
            <h3>Psychology</h3>
            <p>Learn the nuances of the mind and human interraction</h4>
            </a>
        </div>
        <div class="course-card"><a href="compsci.html">
            <h3>Computer Science</h3>
            <p>Learn HTML, CSS and JavaScript from scratch</h4>
            </a>
        </div>
        <div class="course-card"><a href="math.html">
            <h3>Maths</h3>
            <p>Learn Linear Algebra, Calculus and Probability and <strong><i>why they matter</i></strong></h4>
            </a>
        </div>
        <div class="course-card"><a href="chem.html">
            <h3>Chemistry</h3>
            <p>Learn the Periodic Table, Molar Masses and the <strong><i>beauty</i></strong> in chemical compounds</h4>
            </a>
        </div>
        <div class="course-card"><a href="physics.html">
            <h3>Physics</h3>
            <p>Learn the Laws of Motion, Laws of Gravity and even Thermodynamics</h4>
            </a>
        </div>
    </section>

    <footer>
        <p><strong>© 2025 College Courses for Richmond. All Rights Reserved.</strong></p>
    </footer>
</body>
</html>
